{%extends 'base.html'%}
{%block content%}

<div class="container">
    <div class="about-container">
        <div class="card about shadow-lg p-3 mb-5 bg-white rounded" style="width:60%; margin:auto; display:block;">
            <div class="card-header" style="text-align: center;">
                <h1>About</h1></div>
            <div class="card-body body1" style="font-size: x-large; ">
                <p>This web application is for Employers to manage their workforce smoothly and digitally. 
                    This application gives power to Human Resources department and Backend Admins by allowing them toh manage every information 
                of each employees in every department. Daily attendance system is there which allows Employees and HRs to track attendance of each worker.Personalized 
            dashboards are given to admin users and employees user which allows them to many functionalities.
        <br>This web application is developed using <a href="https://docs.djangoproject.com/en/3.2/" style="text-decoration:none;">Django v-3.2.4</a>
         as a project by <a href="" style="text-decoration: none;">Reetik Dhaka</a>.<br></p>
            </div>
        </div>
    </div>
</div>


{%endblock%}